<h1>Angular Component Communication</h1>
<hr />

<h2>Type 4 - Unrelated Component Communication using Service</h2>
<hr />

<table style="width:100%;border:solid 1px red;">
  <tr>
    <td style="width:50%;">
      <app-child4></app-child4>
    </td>
    <td style="width:50%;">
      <app-child5></app-child5>
    </td>
  </tr>
</table>
<button (click)="reset()">Reset</button>
<br /><br /><br /><br /><br /><br /><br /><br />
<hr />


<h2>Type 3 - Child To Parent(using ViewChild)</h2>
<app-child3></app-child3>
<hr />
<button (click)="start()">Start</button>
<button (click)="stop()">Stop</button>


<hr />
<h2>Type 2 - Child To Parent(using @Output & EventEmitter)</h2>
Messge From Child: {{ fromChildMessage }}
<hr />
<app-child2 (sendData)="receiveMessage($event)"></app-child2>

<hr />
<h2>Type 1 - Parent to Child(using @Input)</h2>

<input type="text" [(ngModel)]="tochildMessage" /><button (click)="sendMessage()">Send</button>
<br />
Message : {{ tochildMessage }}
<hr />
<app-child [parentMessage]="message"></app-child>

<hr />
